# compiled files
target/

# Maven distributions (auto-created by the wrapper)
#.mvn/wrapper/maven-*

# IDE files
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/
bin/
dist/
build/
out/

# package files
*.war
*.ear
*.class
*.log

# database files
testhub_db/
derby.log

# OS files
.DS_Store
Thumbs.db